md-toolbar
  .md-toolbar-tools
    //- TODO: use `md-icon` when it's released in 0.8.0-rc1
    //-       see https://github.com/angular/material/issues/409
    md-button(
      ng-click = "onClickOpenNavigation()"
    ) Menu

    span(flex)

    input(
      placeholder = "Search"
      type = "text"
    )

    span(flex)
