doctype html
html(
  lang = "en"
  ng-app = "app"
)
  head
    meta(charset="utf8")
    meta(
      content = "initial-scale=1, maximum-scale=1, user-scalable=no"
      name = "viewport"
    )
    link(
      href = "/css/vendor.css"
      rel = "stylesheet"
    )
    title App

  body
    ik-toolbar

    ik-navigation

    md-content(
      layout = "column"
    )
      div(ui-view="main")

    script(src="/js/vendor.js")
    script(src="/js/templates.js")
    script(src="/js/app.js")
